<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Çatpat'tan merhaba!
  </h1>
  <p>Çatpat, Angular ile WebSocket istemciliğine giriş amaçlı kullanılabilecek basit mi basit bir uygulamadır. Tek bir sohbet odası var ve herkes istediği rumuzu kullanmakta serbest</p>
</div>
<router-outlet></router-outlet>
<div class="row" style="margin-top:20px">
  <div class="mx-auto">
    <p class="text-muted">Burada bulunan içerik kaydedilmez; ve herhangi bir kullanıcısının herhangi bir konudaki görüşünü yansıtabilir ya da yansıtmayabilir. Neticede biz buraya web socket öğrenmeye geldik</p>
  </div>
</div>
